{% extends 'base.html' %}

{% block title %}RECETAS{% endblock %}

{% block content %}

<h1>Lista de Recetas</h1>

<a href="{{ url_for('receta.create') }}" class="btn btn-success mb-3">Nuevo</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Consulta</th>
        <th>Medicamento</th>
        <th>Dosis</th>
        <th>Indicaciones</th>
        <th>Opciones</th>
    </tr>
    {% for item in recetas %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.consulta.id if item.consulta }}</td>
        <td>{{ item.medicamento }}</td>
        <td>{{ item.dosis }}</td>
        <td>{{ item.indicaciones }}</td>
        <td>
            <a href="{{ url_for('receta.edit', id=item.id) }}" class="btn btn-warning">Editar</a>
            <a href="{{ url_for('receta.delete', id=item.id) }}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
